:root {
  --primary-color: #fafaf8;
  --secondary-color: #e5e7eb;
  --tertiary-color: #1f2937;
  --hero-background-color: #1f2937;
  --button-color: #3882f6;
}

html,
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  padding: 0px 60px;
  background-color: var(--hero-background-color);
  flex: 1;
}

.header-menu-item a {
  color: var(--secondary-color);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--hero-background-color);
  padding: 0px 60px;
  margin-bottom: 30px;
}

.header-logo {
  padding: 4px 32px;
}

.hero-container {
  display: flex;
  background-color: var(--hero-background-color);
  padding: 60px;
  align-items: center;
  gap: 100px;
  align-content: center;
  margin-bottom: 30px;
}

.hero-title-text {
  color: var(--primary-color);
  font-size: 48px;
  font-weight: 900;
}

.hero-description {
  color: var(--secondary-color);
  margin-bottom: 10px;
}

.image {
  max-width: 100%;
  height: auto;
}

.information-section {
  margin-top: 40px;
  background-color: white;
  text-align: center;
}

.information-section-title {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 35px;
}

.info-section-container {
  display: flex;
  gap: 52px;
  justify-content: center;
  margin-bottom: 50px;
}

.info-section-text {
  margin-top: 10px;
}

.info-section {
  max-width: 150px;
}

.info-section img {
  width: 150px;
  border-color: #3882f6;
  border: 3px solid #3882f6;
  border-radius: 18px;
}

.testimonial-container {
  background-color: var(--secondary-color);
  padding: 35px;
}

.testimonial-container .quote {
  display: flex;
  font-size: 36px;
  color: var(--hero-background-color);
  font-weight: 300;
  padding: 20px 80px;
  font-style: italic;
}

.testimonial-container .quote-author {
  text-align: right;
  margin-right: 8rem;
  font-weight: bold;
}

button {
  color: var(--primary-color);
  background-color: var(--button-color);
  border-color: #3882f6;
  border-radius: 6px;
  padding: 4px 15px;
}

.cta-section-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 70px 0px;
  background-color: white;
}

.cta-container {
  display: flex;
  padding: 40px 60px;
  gap: 40px;
  color: var(--primary-color);
  border-color: var(--primary-color);
  border-radius: 8px;
  background-color: var(--button-color);
}

.cta-text-left {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 0 70px;
}

.cta-title {
  font-weight: 900;
}

.cta-button {
  border: 2px solid white;
  padding: 5px 40px;
}

.footer {
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  background-color: var(--hero-background-color);
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.footer-text {
  color: var(--secondary-color);
}
